server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/hackerbubai007/E-Commerce-Application-Spring-Boot-Microservices.git
          default-label: main
          clone-on-start: true 
          search-paths: Config-Repo