server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/hackerbubai007/Advance_Java_Projects.git
          default-label: main
          clone-on-start: true 
          search-paths: config-repo